

/*Делаем шапку*/




/*Выравниваем по центру*/



/*Шапка лого*/




/*фитча на криафикс и*/




/*Убираем у ul точки*/



/*Позицианируем по краям*/




/*Главный контент*/


/*Делаем картинку прозрачным*/

.content_img-opacity {
    background-color: black;
    width: 880px;
    height: 335px;
}


/*добавляем картинку*/

.content__img {
    background: url(../img/weights-664765_1280.jpg);
    background-repeat: no-repeat;
    width: 880px;
    height: 335px;
    background-position: center;
   /* background-color: black;*/
    /*opacity: .5;*/
    background-size: cover;
    position: relative;

}

.content_img-text {
    font-family: 'open_bold';
    font-size: 49px;
    color:#fff;
    position: absolute;
    left:70px;
    top:160px;
    width: 800px;
    height: 170px;
}
/*приводим текст порядок*/
.content__desc-company, .content__list, .content__text-white{
font-size: 18px;
line-height: 29px;
}
/*Позицианируем элемты главного описание и меню*/

.content {
    float: right;
    width: 880px;
    }
/*верстаем меню*/




.open_bold {
	font-family: 'open_bold';

}
/*Добовлем точки для ul*/
.content__item {
 list-style: disc;
list-style-position: inside;
}

/*варавниваем текст*/
.content__desc-company,.content__dark-blok, .partners{
	width: 700px;
}
.content__dark-blok {
	margin-top: 30px; 
    margin-bottom: 70px; 
}
.content__text-white {
	width: 700px;
	background: black;
	color: white;
	padding-left: 30px;
	padding-top: 10px;
 	padding-right: 35px;
	padding-bottom: 10px;
	box-sizing: border-box;
	}

/*Верстаем партнеры*/
.partner__title {
font-family: 'open_bold';
font-size: 49px;
text-transform:uppercase;
}

.partner__item {
	display: inline-block;
	padding-right: 110px;
    padding-top: 55px;
    width: 120px;
    text-align: center;
}
/*Делаем пседо элемент для футора чтобы текст не садился на футор*/




