.footer {
   	background-color: black;
 	height: 75px;
    margin-top: -75px;
    min-width: 1100px;
}
.footer__rigth {
	float: right;
	padding-top: 9px;
	width: 33.3%;
	text-align: right;
}

.footer__middel {
	text-align: center;
}
 
.footer__left, .footer__middel {
	float: left;
	width: 33.3%;
	padding-top: 15px;
}


.footer__text,.footer__avtor, .footer__social-text {
	color: #fff;
	font-size: 14px;
}
.footer__rigth-content {
   /* padding-top: 15px;
    padding-bottom: 10px;*/
}
.social__item {
	display: inline-block;
	margin-right: 11px;
}
.social__link {
	display: block;
	text-decoration: none;
	width: 20px;
	height: 20px;
	background: url(../../img/icons/css_sprites.png) 0px 0px no-repeat;
}

.social__link--vk {
background-position-x:0;
}

.social__link--fb {
	background-position-x:-100px;
}

.social__link--G {
	background-position-x:-200px;
}
.social__link--tw {
background-position-x:-300px;
}
.social__link--mail {
	background-position-x:-400px;
}


.footer__soceal-icons {
	margin-top: 8px;
}

.social__link:hover {
	background-position-y: bottom;
}